<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VITAL</title>

  
          
          <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
</head>
<body class="sb-nav-fixed">
    <%- include('../partials/navbar') %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <!-- Page specific content goes here -->
                <%- body %>
            </main>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </div>
</body>
</html>
