<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
    <style>
        body {
            font-family: RUBIK, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ACE1AF;
        }
        .container {
            max-width: 8000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ACE1AF;
            border-radius: 8px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #FFFFDD;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
        }
        .challenge-title {
            margin-top: 0;
        }
        .completed {
            color: rgb(15, 27, 15);
        }
        .user-points {
            text-align: right;
            font-size: 18px;
            margin-top: 20px;
        }
        button{
             background-color: #F1EF99;

        }
        button:hover{
            background: #99BC85;
            }
    </style>
</head>
<body>
    <h1>Challenges</h1>
    <p>User Points: <%= userPoints %></p>
    <ul>
        <% challenges.forEach(challenge => { %>
            <li>
                <h3><%= challenge.title %></h3>
                <p><%= challenge.description %></p>
                <% if (!challenge.completedBy.includes(currentUser._id)) { %>
                    <form action="/challenges/complete/<%= challenge._id %>" method="POST">
                        <button type="submit">Complete</button>
                    </form>
                <% } else { %>
                    <p>Completed</p>
                <% } %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
</html>