<h2>Personal Information</h2>
<form action="/profileSettings/personalInformation?_method=PUT" method="POST">

    <label for="height">Height</label>
    <select name="height" id="height">
        <% for(let i = 48; i <= 84; i++) { %>
        <% let feet = Math.floor(i / 12); %>
        <% let inches = i % 12; %>
        <option value="<%= i %>"><%= feet %>'<%= inches %></option>
        <% } %>
     </select>

    <label for="gender">Gender</label>
    <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
     </select>

    <label for="weight">Weight (lbs)</label>
    <input type="number" id="weight" name="weight" min="50" max="700" step="1" value="150">

    <label for="age">Age</label>
    <input type="number" id="age" name="age" min="16" max="100" step="1" value="25">

    <label for="activityLevel">Activity level</label>
    <select name="activityLevel" id="activity-level">
        <option value="sedentary">Sedentary (little to no exercise)</option>
        <option value="lightly">Lightly Active (1 to 3 hours of exercise a week)</option>
        <option value="moderately">Moderately Active (4 to 6 hours of exercise a week)</option>
        <option value="very">Very Active (7 to 9 hours of exercise a week)</option>
        <option value="extra">Extra Active (10+ hours of exercise a week)</option>
     </select>




    <input type="submit" value="update" class="btn">

</form>