<h1>Hello Mate</h1>
<div class="header__button">
    <a href="/profileSettings/mealPreferences">
        <b>Mealplan</b>
    </a>

    <a href="/profileSettings/personalInformation">
        <b>Personal Information</b>
    </a>

</div>